* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table, tr, td, th {
  border: 1px solid #6a737d !important;
}

td, tr {
  width: 2rem;
  height: 2rem;
  text-align: center;
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.article-preview-head>div:nth-child(1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.article-preview-body>div {
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* 文章内容头部 */
.article-head-message {
  color: #999999;
  font-size: 14px;
}

.article-head-message-author {
  color: #18191C;
  font-size: 18px;
  cursor: pointer;
}

.article-change-icon {
  text-align: right;
}

.article-change-icon>span {
  display: inline-block;
}

.article-change-icon>span:hover {
  color: lightskyblue;
  transform: scale(1.2);
  transition: 300ms;
}

.article-body {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.article-editor-body {
  margin-top: 1rem;
}

.artcile-editor-body-container {
  height: 25rem;
  border: 2px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 0px 0px 5px 5px;
  background-color: #FBF1D3;
}

.article-editor-body-textEditor {
  height: 100%;
}

.ace_scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #DBDBDB;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #FF90D1;
}

.resizable {
  height: 10px;
  cursor: ns-resize;
}

.article-editor-body-button {
  width: 100%;
  height: 4rem;
  text-align: right;
  margin-top: 25px;
}

.article-editor-btn-storage {
  color: white;
  font-weight: bold;
  margin-right: 2rem;
  width: 15%;
  height: 3rem;
  background-color: #FF90D1;
  border: none;
  border-radius: 6px;
}

.article-editor-btn-storage:hover {
  background-color: #114E9F;
}

.article-editor-btn-submit {
  color: white;
  font-weight: bold;
  width: 15%;
  height: 3rem;
  background-color: #FF90D1;
  border: none;
  border-radius: 6px;
}

.article-editor-btn-submit:hover {
  background-color: #114E9F;
}

.login-modal-footer-register {
  color: #95A5A6;
  text-decoration: none;
  cursor: pointer;
}

.login-modal-footer-register:hover {
  color: #3CB2D6;
}

.login-modal-footer-login {
  color: #95A5A6;
  text-decoration: none;
  cursor: pointer;
}

.login-modal-footer-login:hover {
  color: #3CB2D6;
}

.navbar-user-dropdown-item {
  padding: 2px 10px 2px 20px;
  font-size: 14px;
  cursor: pointer;
}

.navbar-user-dropdown-item:hover {
  background-color: #E3E5E7;
  transition: 400ms;
}

.navbar-link-item:hover {
  transform: scale(1.2);
  transition: 300ms;
}

.search-bar {
  height: 2.6rem;
  line-height: calc(2.6rem - 4px);
  width: 55%;
  margin: 0 auto;
  border: 2px solid #F9F9F9;
  margin-bottom: 1rem;
  padding: 0px 20px;
  border-radius: 20px;
  background-color: #F9F9F9;
  box-shadow: 0px 2px 3px 0px #999999;
}

.search-bar-input {
  width: calc(100% - 35px);
  height: 2rem;
  background-color: #F9F9F9;
  border: none;
  margin-right: 5px;
  outline: none;
}

.search-icon-box {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
}

.search-icon:hover path {
  fill: #3CB2D6;
}